.log-in{
    color: white;
    font-size:35px;
    letter-spacing: 0.6px;
    text-align: center;
}
.fw-light {
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.effect-1 {
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0px;
    border-bottom: 1px solid #b2b2b2;
}
.login-label{
    color: #d0d0d0;
    letter-spacing: 1px;
}
/* login */
/* deshboard */
.deshbd-mmbr{
    color:white;
}
/* admin */
.admin-btn-a{
    padding: 6px 21px;
    margin-bottom: 5px !important;
}
/* active table */
.active-table{
    border-radius: 30px;
    margin: 20px;
}